.cart-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    color: #333;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart-header h3 {
    font-size: 1.5rem;
    color: #404040;
}

.cart-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px 10px;
    border: 1px dashed #bbb;
    border-radius: 15px;
    margin: 10px 0;
}

.cart-image {
    width: 10%;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
}

.product-title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #404040;
    margin-bottom: 5px;
}

.rating-box {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 13px;
    padding: 3px 10px;
    border: 1px solid #fcc947;
}

.remove-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.15s ease-in-out;
}

.remove-btn:hover {
    background-color: #ff1a1a;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.quantity-btn {
    border: none;
    background: transparent;
    color: #404040;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    margin: 0px 10px;
}

.quantity-display {
    font-size: 1.2rem;
    padding: 5px 15px;
    color: #000;
    border: 1px solid #404040;
}

.cart-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #404040;
}

.checkout-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.checkout-box h3 {
    font-size: 1.1rem;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    gap: 100px;
  }
  
  .checkout-box h3 span {
    font-size: 1rem;
    font-weight: 500;
  }
  

.checkout-btn {
    margin-top: 15px;
    background-color: #fb641b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.15s ease;
}

.checkout-btn:hover {
    background-color: #e55005;
}

.terms {
    margin: 25px;
    color: #007bff;
    border: none;
    cursor: pointer;
    transition: 0.15s ease;

    &:hover {
        color: #0056b3;
        border-bottom: 1px solid #0056b3;
    }
}

.discount-info {
    margin-bottom: 15px;
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.discount-info h4 {
    margin-bottom: 10px;
}

.discount-info ul {
    padding-left: 20px;
}

.discount-info li {
    margin-bottom: 5px;
}